files:
  "/home/webapp/worker_job.sh" :
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/bin/sh
      if [ ! -d "/mnt/efs" ]; then
        mkdir /mnt/efs
        sudo mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,noresvport fs-0ad96e89c3650209a.efs.us-east-1.amazonaws.com:/ /mnt/efs
        chown -R webapp:webapp /mnt/efs
      fi
      if [ ! -L "/var/www/html/wp-content/uploads" ]; then
        sudo -u webapp ln -sf /mnt/efs/uploads /var/www/html/wp-content/uploads
      fi

container_commands:
  01-setupredis:
    command: sudo amazon-linux-extras install redis6
  02-startredis:
    command: sudo systemctl start redis
  03-mountEFS:
    command: sh /home/webapp/worker_job.sh
