# efs mount
commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/worker_job.sh" :
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/bin/sh
      if [ ! -d "/mnt/efs" ]; then
        sudo mkdir /mnt/efs
        sudo mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,noresvport fs-0c865950986d6f971.efs.us-east-2.amazonaws.com:/ /mnt/efs
        chown -R webapp:webapp /mnt/efs
      fi
      if [ ! -L "/var/www/html/wp-content/uploads" ]; then
        mkdir /var/app/current/wp-content/uploads
        sudo -u webapp ln -sf /mnt/efs/uploads /var/app/current/wp-content/uploads
      fi
